*{
    padding: 0;
    margin:0;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        height: 10vh;
        padding: 1vh 1vw;
        gap: 4vw;
        width: 98vw;
        justify-content: space-between;
    }
    .search{
    border: 1px solid #cccc;
    border-collapse: collapse;
    display: flex;
    height: 6vh;
    
    }
    input{
        border: none;
        outline: none;
        width: 43vw;
        padding-left: 1vw;
       
    }
    #search{
    background-color: #f9f9f9;
    border: 1px solid #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    }
    #logo{
    height: 5vh;
    width:20vh ;
    margin-left: 1vh;
    
    }
    .nav-center{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
    }
    #mic{
        border-radius: 50%;
        background-color: #f9f9f9;
        height: 6vh;
        width: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-last{
        display: flex;
        align-items:center ;
        justify-content: center;
        gap: 2vw;
    }
    .nav-last>span{
        
    }
    .container{
        display: flex;
        width: 100vw;
    
    }
    .ctn-left{
      flex: 2;
      height: 70vh;
      display: flex;
      flex-direction: column;
      
    }
    .ctn-right{
      flex: 9;
      padding: 1vh;
      background-color: #f9f9f9;
      
    }
    .b{
        background-color: white;
         color:#606060;
    }
    .a{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
        padding-left: 2vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
    .a:hover{
        background-color: #d9d9d9;
    }
    .a:hover>span{
        background-color: #d9d9d9;
    }
    #a{
        background-color: #d9d9d9;
    }
    .right-top{
        margin-top: 1vh;
        margin-bottom: 1vh;
        display:flex;
        justify-content: space-between;
    
    }
    .options{
        border-radius: 2vh;
        background-color: #f3f3f3;
        padding: 1vh;
        border: 1px solid #cecece;
    }